/*
Style for the scatter.js
*/
div.tooltip {
     position: absolute;
     text-align: center;
     padding: .5rem;
     background: white;
     color: teal;
     box-sizing: border-box;
     display: inline;
     font-size: 15px;
     border: 1px solid #313639;
     line-height: 0.5;
}
